* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: white;
    scroll-behavior: smooth;
}

/*######nav-bar start######*/
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid #007FFF;

}

.bars{
    display: none;
}

.nav-list {
    display: flex;
    padding-right: 300px;
}

.nav-list li {
    list-style-type: none;
    margin-left: 50px;
}

.nav-links {
    color: rgb(121, 116, 116);
    text-decoration: none;
    font-size: 18px;
}

.nav-logo img {
    /* display: block; */
    padding-left: 80px;
    width: 320px;
    height: 70px;
    margin-left: 70px;
    margin-bottom: 10px;
}

/*#########header section start###########*/
#header {
    background-image: url('../images/background1.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.content {
    display: flex;
    flex-direction: column;
    display: inline-block;
    align-items: start;
    margin-top: 200px;
    margin-left: 150px;
}

.content .myself {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    width: 700px;
    padding: 5px;
}

.content .header-list ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    gap: 20px;

}

.content .header-list ul li a i {
    color: #007FFF;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}

.content .header-list ul li a i:hover {
    color: blue;
}

.content .mywork-btn {
    width: 200px;
    height: 40px;
    background-color: #007FFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    transition-delay: 0.2s;
}

.content .mywork-btn a{
    text-decoration: none;
    color: white;
}
.mywork-btn:hover {
    background-color: rgb(1, 102, 97);
    background-color: #318CE7;
    cursor: pointer;
    font-weight: 400;
    transition-delay: 0.1s;
}


/* ************************Projects starts**************************** */
.portfolio-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    gap: 50px;
}
.my-portfolio{
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.project-detail{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 5px 5px 5px grey;
}

.project-detail .img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.project-detail .details{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    gap: 10px;
    border: 1px solid #007FFF;
}
.details button{
    width: 150px;
    height: 40px;
    background-color: #007FFF;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-left: 220px;
    cursor: pointer;
    bottom: 0px;
}
.details button a{
    text-decoration: none;
    color: #fff;
}
.details button:hover{
    background-color: #6495ED;
}


/* ***************************Projects ends****************************** */




/*########## Services section start ###########*/

/* *************************Added new from here to************************ */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.services-boxes {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.services-boxes div {
    width: 400px;
    height: auto;
    text-align: center;
    background-color:#B9D9EB;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 1s ease;
}

.services-boxes div:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    background-color: #007FFF;
    color: #fff;
}

.services-boxes div i {
    font-size: 40px;

}

.services-boxes div h2 {
    margin-top: 10px;
}

.services-boxes div p {
    margin-top: 10px;
}
/* *************************Added new code to here************************ */



/*##########Footer section##############*/

.footer{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
    left: 0;
    bottom: 0;
    border-top: 2px solid #007FFF;
}

.contact-left .subtitle{
    margin-left: 20px;
    color: blue;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -100px;
}

.contact-left p{
    font-size: 22px;
    color: #000;
}

.contact-left p i{
    font-size: 25px;
    color: #318CE7;
    margin-right: 15px;
}



.contact-right .btn{
    margin-bottom: 20px;
    width:35%;
    height: auto;
    border-radius: 6px;
    border: 1px solid rgb(181, 173, 173);
    padding: 14px 60px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #007FFF;
    color: #fff;
}

form{
    margin-right: 20px;
}
form input,form textarea{
    width: 100%;
    border: 1px solid rgb(181, 173, 173);
    outline: none;
    border-radius: 6px;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 17px;
}

.footer-row .footer-list{
    margin-top: 100px;

}